.badges {
  position: fixed;
  top: 132px;
  right: 12px;
  z-index: 98;
}
.badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.15);
  cursor: pointer;
}
.badges .badge:last-child {
  margin-bottom: 0;
}
