.blend .floating-3 {
  position: absolute;
  top: -120px;
  right: 0;
}
.blend {
  background-image: url("../images/blend/season_product_bg.jpg");
}
.blend .inner {
  height: 400px;
}
.blend .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}
.blend .text-group .title {
  display: block;
}
.blend .text-group .description {
  margin-top: 10px;
}
.blend .text-group .more {
  margin-top: 15px;
}
