/*PICK YOUR FAVORITE*/
.favorite {
  background-image: url("../images/rest/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.favorite .inner {
  height: 700px;
}
.favorite .text-group {
  width: 362px;
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.favorite .text-group .title {
  margin-bottom: 40px;
}
.favorite .text-group .description {
  margin-bottom: 40px;
}
