/*NOTICE*/
.notice {

}
.notice-line {
  position: relative;
}
.notice-line .bg-left {
  width: 50%;
  height: 100%;
  background: #111;
  position: absolute;
  top: 0;
  left: 0;
}
.notice-line .bg-right {
  width: 50%;
  height: 100%;
  background: #f6f5ef;
  position: absolute;
  top: 0;
  right: 0;
}
.notice-line .inner {
  height: 62px;
  z-index: 1;
  display: flex;
}
.notice-line .inner__left {
  width: 60%;
  height: 100%;
  background: #111;
  display: flex;
  align-items: center;
}
.notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice-line .inner__left .swiper-container {
  width: 500px;
  height: 62px;
}
.notice-line .inner__left .swiper-slide {
  width: 500px;
  height: 62px;
  display: flex;
  align-items: center;
}
.notice-line .inner__left .swiper-slide a {
  color: #fff;
}
.notice-line .inner__left .notice__more {
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  color: #fff;
}
.notice-line .inner__left .notice__more i {
  display: block;
}
.notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice-line .inner__right h2 {
  color: #111;
  font-size: 17px;
  font-weight: 700;
}
.notice-line .inner__right .toggle-promotion {
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: .4s;
}
.notice-line .inner__right .toggle-promotion i {
  display: block;
}
.notice-line .inner__right .toggle-promotion.open {
  transform: rotate(180deg);
}


/*PROMOTION*/
.promotion {
  height: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f6f5ef;
  overflow: hidden;
  transition: .4s;
}
.promotion.open {
  height: 673px;
  padding: 40px 0 60px;
}
.promotion .swiper-container {
  width: 2477px;
  height: 553px;
  position: relative;
  left: 50%;
  margin-left: calc(2477px / -2);
}
.promotion .swiper-container .swiper-slide {
  position: relative;
  opacity: .5;
  transition: opacity 1s;
}
.promotion .swiper-container .swiper-slide-active {
  opacity: 1;
}
.promotion .swiper-container .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.promotion .inner {
  margin-top: 20px;
}
.promotion .swiper-pagination {
  left: 0;
  right: 0;
  margin: auto;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
  background: url("../images/promotion/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background: url("../images/promotion/promotion_slide_pager_on.png");
}
.promotion .swiper-prev,
.promotion .swiper-next {
  width: 42px;
  height: 42px;
  position: absolute;
  top: calc(553px / -2 - 21px);
  z-index: 1;
  cursor: pointer;
  color: #333;
  border: 2px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  outline: none;
}
.promotion .swiper-prev:hover,
.promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}
.promotion .swiper-prev {
  left: 60px;
}
.promotion .swiper-next {
  right: 60px;
}
