/*RESERVE*/
.reserve {
  background: url("../images/rest/reserve_bg.jpg");
}
.reserve .inner {
  height: 400px;
}
.reserve .logo {
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}
.reserve .product {
  position: absolute;
  top: 0;
  right: 0;
}
