/*VISUAL*/
.visual {
  margin-top: 120px;
  background-image: url("../images/visual/visual_bg.jpg");
  background-position: center;
}
.visual .inner {
  width: 1100px;
  height: 646px;
}
.visual .title-group {
  position: absolute;
  top: 88px;
  left: -10px;
}
.visual .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
.visual .cup1 .image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1 .caption {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2 .image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2 .caption {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in {
  opacity: 0;
}
