/*COFFEE BEANS*/
.youtube {
  position: relative;
  overflow: hidden;
}
.youtube::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  background-image: url("../images/youtube/pattern.png");
}
.youtube-player {
  width: 1920px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
  margin-left: calc(1920px / -2);
  z-index: -1;
}
.youtube-player::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.youtube .inner {
  height: 700px;
}
.youtube .floating-1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating-2 {
  position: absolute;
  top: 350px;
  left: 150px;
}
